# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# SvelteKit
.svelte-kit/
build/

# IDE
.vscode/

# Skills / docs with code snippets
.opencode/

# Tauri generated
src-tauri/gen/

# Miscellaneous
/static/
